<main>
    <section class="formulario-section">
        <img src="/assets/svg/logo.svg">
        <h2> {{ title }}</h2> <!-- Valor do h2 é a variavel title, em que adicionamos um inputo em default-login-layout.components.tx -->
        <ng-content>    
            <!--Itens inseridos no login.component.html-->
        </ng-content>
        <div class="espaco-btn">
            <button class="primary-btn"
            (click)="submit()"
            [disabled]="disablePrimaryBtn"
            >{{ primaryBtnText }}</button>
            <div class="divisor">
                <div></div>
                <span>or</span>
                <div></div>
            </div>
            <button class="secondary-btn" (click)="navigate()">{{ secondaryBtnText }}</button>
        </div>

    </section>
    <section class="main-section">
        <h1>Let It Rip</h1>
        <img src="/assets/svg/main-illustration.svg">
    </section>
</main>